
.container-search{
  display: flex;
  justify-content: center;
}

.form-content{
  width: 50%;
  min-width:25rem;
  justify-content: center;
  overflow: hidden;
  padding-top:30px;
}

.search-wrapper {
  display: flex;
  align-content: center;
}

.search-icon {
  margin-right: 8px;
}

/***************/

::ng-deep .custom-chip {
  background-color: #f0f0f0; /* Color de fondo del chip */
  border-radius: 16px; /* Borde redondeado */
  margin: 4px; /* Margen entre los chips */
  font-size: 14px; /* Tamaño de fuente del chip */
}

::ng-deep .custom-chip:hover {
  background-color: #ccc; /* Cambio de color de fondo al pasar el mouse sobre el chip */
}

::ng-deep .text-category {
  padding: 0 8px; /* Espaciado interno del texto dentro del chip */
}



